@import url('https://fonts.googleapis.com/css2?family=Wallpoet&display=swap');

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
a {
    text-decoration: none;
    display: inline-block;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    height: 100%;
    box-sizing: border-box;
}
ul, ol {
    list-style: none;
}
h1, h2, h3, h4 {
    margin: 0;
}
body {
  font-family: 'Wallpoet', display;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: brown;
  font-size: 3.2rem;
}
.gaymer {
    border-radius: 1rem;
    /* flex: 50%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 9rem;
}
.main {
    border-radius: 1rem;
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items:center;
}
.gaymer-name {
    opacity: 0.4;
    padding: 2rem;
}
.now {
    background-color: rgb(226, 112, 112);
    margin-top: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border-radius: 1.5rem;
    padding: 2rem 5rem;
    color: #fff;
    opacity: 0.4;
}
.score-color {
    color: rgb(184, 44, 44);
    font-size: 4.8rem;
    opacity: 0.4;
}
/* .buttons {
    /* position: fixed; */
/* } */ 

.btn-roll {
    margin-bottom: -10rem;
}
.btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
    border-radius: 5rem;
    border: none;
    font-size: 2.4rem;
    padding: 1rem 2rem;
    font-family: inherit;
    transition: all 0.3s;
    box-shadow: 1rem 1rem 3rem rgba(0, 0, 1, 1.15);
}
.btn-hold {
    top: 63rem;
}
.btn-roll {
    top: 55rem;
}
.btn-new {
    top: 20rem;
}
.dice {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.btn:focus {
    outline: none;
  }
.btn:active {
    transform: translate(-50%, 2px);
}

.gaymer-active {
    background-color: rgb(222, 198, 169);
}
.gaymer-active .gaymer-name{
    opacity: 1;
    font-weight: 800;
}
.gaymer-active .now {
    opacity: 1;
}
.gaymer-active .score-color {
    opacity: 1;
}

.hidden {
    display: none;
}
.winner {
    background-color: rgb(72, 64, 64);
}

/* .btn::first-letter {
    font-size: 2.4rem;
    display: inline-block;
    margin-right: 0.7rem;
  } */